*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NEWS ITEM */

.title{
  
  
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li{
  display: inline-block;
  margin: 1em;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 3em;
  cursor: pointer;
  transition: 0.3s;
}



/*SIDE BAR   */
.dashboard {
  display: flex;
}

.side-bar {
  width: 240px;
  background: rgb(90, 186, 224);
  height: 100vh;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 20px 0;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}